#outer{
    display: flex;
    align-items:center;
    height: 100vh;
    background: linear-gradient(to left,rgba(255, 0, 0, 0.5),pink)
    
}

#box{
    /* border: 1px solid black; */
    height: 300px;
    width: 500px;
    margin-left: 400px;
    text-align: center;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.363),rgba(202, 43, 216, 0.103));
    border-radius: 15px;
    box-shadow: 1px 0px 5px 6px pink;
}

.align1{
    margin-top: 50px;
    font-size: 50px;
}

button{
    border-style: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



